::-webkit-scrollbar {
    width: 0px;
}
.canvas{
    height: 100vh;
    width: 100%;
    background: linear-gradient(-35deg, #FFAAF8, #FFF6AE);
    margin: 0px;
}
.navbar{
    background-color: #FF7171;
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.item1{
    color: black;
    text-decoration: none;
}
.item2{
    color: black;
    text-decoration: none;
}
.item3{
    color: black;
    text-decoration: none;
}
.item4{
    color: black;
    text-decoration: none;
}
.item5{
    color: black;
    text-decoration: none;
}
.item6{
    color: black;
    text-decoration: none;
}
.heading1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.15em;
}
.body1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
}
.button1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    background-color: #FF7171;
    color: white;
}
.body2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.15em;
}
.heading2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
}
.button2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    display: flex;
    flex-direction: row;
}
.img1{
    height: 30px;
    width: 40px;
}
.img1:hover{
    cursor:pointer;
}
.img2{
    height: 200px;
    width: 200px;
}
.img3{
    height: 200px;
    width: 200px;
}
.img4{
    height: 200px;
    width: 200px;
}
.img5{
    height: 200px;
    width: 200px;
}
.img6{
    height: 30px;
    width: 30px;
}
.container1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container2_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: #FF7171;
}
@media (max-width: 1440px) {
    .navbar{
        font-size: 17px;
        display: flex;
        flex-direction: row;
        letter-spacing: 0.12em;
        justify-content: space-between;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 140px;
        padding-right: 140px;
    }
}
@media (max-width: 1024px) {
    .navbar{
        font-size: 17px;
        display: flex;
        flex-direction: row;
        letter-spacing: 0.12em;
        justify-content: space-between;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media (max-width: 768px) { 
    .navbar{
        font-size: 13px;
        display: flex;
        flex-direction: row;
        letter-spacing: 0.12em;
        justify-content: space-between;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media (max-width: 480px) {
    .navbar{
        font-size: 9px;
        display: flex;
        flex-direction: row;
        letter-spacing: 0.06em;
        justify-content: space-between;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .img1{
        height: 20px;
        width: 30px;
    }
}